/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/styles/home.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.home_title__jhZo4 {
    color: #ffe;
    text-shadow: 1px 1px 2px #e87b0b, 0 0 25px #ee9602, 3px 1px 5px #ff8d00;
    text-align: center;
    font-size: 50px;
  }
  .home_text__f1uOt {
    text-align: center;
  }
  .home_btn__ONEfB {
    display: block;
    width: 128px;
    padding: 5px 0;
    margin: 20px auto 40px;
    background: #ffc600;
    border-radius: 6px;
    color: #fff;
    text-align: center;
  }
  .home_mainImage__cuL0k {
    max-width: 400px;
    margin: 0 auto;
  }
  .home_container__KepaU {
    max-width: 600px;
    margin: 0 auto;
  }
